In [2]:
# Import dependencies
import sqlalchemy
from sqlalchemy import create_engine, inspect, MetaData
from sqlalchemy import Column, Integer, String, Float, Numeric
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [3]:
# Establish database connection
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [4]:
# Start and end date of the climate analysis
start = '5/10/15'
end = '5/30/15'

In [5]:
# reflect the existing database
Base = automap_base()

# Reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
Base.classes.keys()

['Measurement', 'Stations']

In [7]:
# Save References to each tables
Measurement = Base.classes.Measurement
Station = Base.classes.Stations

In [8]:
# Create session link to the database
session = Session(engine)

In [26]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from today
year_data = dt.date.today() - dt.timedelta(days=365)

# Perform a query to retrieve the data and precipitation scores
results = session.query(Measurement.date, Measurement.precipitation)
results = results.filter(Measurement.date >= year_data).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date', 'precipitation'])
df.set_index(df['date'], inplace=True)
df

            date precipitation
date
3/1/10    3/1/10          None
3/2/10    3/2/10          None
3/3/10    3/3/10          None
3/4/10    3/4/10          None
3/5/10    3/5/10          None
3/6/10    3/6/10          None
3/7/10    3/7/10          None
3/8/10    3/8/10          None
3/9/10    3/9/10          None
3/12/10  3/12/10          None
3/13/10  3/13/10          None
3/14/10  3/14/10          None
3/15/10  3/15/10          None
3/17/10  3/17/10          None
3/18/10  3/18/10          None
3/21/10  3/21/10          None
3/22/10  3/22/10          None
3/23/10  3/23/10          None
3/24/10  3/24/10          None
3/27/10  3/27/10          None
3/28/10  3/28/10          None
3/29/10  3/29/10          None
3/30/10  3/30/10          None
3/31/10  3/31/10          None
4/1/10    4/1/10          None
4/2/10    4/2/10          None
4/3/10    4/3/10          None
4/4/10    4/4/10          None
4/5/10    4/5/10          None
4/6/10    4/6/10          None
...          ...           ...
7/17/17  7/17/17          None
7/18/17  7/18/17          None
7/19/17  7/19/17          None
7/20/17  7/20/17          None
7/21/17  7/21/17          None
7/22/17  7/22/17          None
7/23/17  7/23/17          None
7/24/17  7/24/17          None
7/25/17  7/25/17          None
7/26/17  7/26/17          None
7/27/17  7/27/17          None
7/28/17  7/28/17          None
7/29/17  7/29/17          None
7/30/17  7/30/17          None
7/31/17  7/31/17          None
8/2/17    8/2/17          None
8/3/17    8/3/17          None
8/7/17    8/7/17          None
8/8/17    8/8/17          None
8/9/17    8/9/17          None
8/10/17  8/10/17          None
8/12/17  8/12/17          None
8/14/17  8/14/17          None
8/15/17  8/15/17          None
8/16/17  8/16/17          None
8/17/17  8/17/17          None
8/19/17  8/19/17          None
8/21/17  8/21/17          None
8/22/17  8/22/17          None
8/23/17  8/23/17          None

[10799 rows x 2 columns]

In [ ]:
# Rotate the xticks for the dates
plt.xticks(rotation='45')
plt.tight_layout()
plt.show()