In [1]:
# Import dependencies
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Integer, String, Float, Numeric, Text, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
import pandas as pd
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [2]:
Base = declarative_base()

In [3]:
# Establish database connection
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [4]:
class measurement_table(Base):
    __tablename__= "Measurement"
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.station}"

In [5]:
class station_table(Base):
    __tablename__= "Stations"
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [6]:
# Tables only exist in python right now
Base.metadata.tables

immutabledict({'Measurement': Table('Measurement', MetaData(bind=None), Column('id', Integer(), table=<Measurement>, primary_key=True, nullable=False), Column('station', Text(), table=<Measurement>), Column('date', Text(), table=<Measurement>), Column('prcp', Float(), table=<Measurement>), Column('tobs', Float(), table=<Measurement>), schema=None), 'Stations': Table('Stations', MetaData(bind=None), Column('id', Integer(), table=<Stations>, primary_key=True, nullable=False), Column('station', Text(), table=<Stations>), Column('name', Text(), table=<Stations>), Column('latitude', Float(), table=<Stations>), Column('longitude', Float(), table=<Stations>), Column('elevation', Float(), table=<Stations>), schema=None)})

In [7]:
# Create the tables in the database
Base.metadata.create_all(engine)

In [8]:
engine.table_names()

['Measurement', 'Stations']

In [9]:
def populate_table(engine, table, csvfile):
    conn = engine.connect()
    df_insert = pd.read_csv(csvfile)
    data = df_insert.to_dict(orient='records')
    conn.execute(table.insert(),data)

In [10]:
populate_table(engine, measurement_table.__table__, "Resources/clean_measurements.csv")

In [11]:
populate_table(engine, station_table.__table__, "Resources/clean_stations.csv")

In [12]:
# Test for the Measurements table
engine.execute('SELECT * FROM Measurement Limit 10').fetchall()

[(1, 'USC00519397', '1/1/10', 0.08, 65.0),
 (2, 'USC00519397', '1/2/10', 0.0, 63.0),
 (3, 'USC00519397', '1/3/10', 0.0, 74.0),
 (4, 'USC00519397', '1/4/10', 0.0, 76.0),
 (5, 'USC00519397', '1/7/10', 0.06, 70.0),
 (6, 'USC00519397', '1/8/10', 0.0, 64.0),
 (7, 'USC00519397', '1/9/10', 0.0, 68.0),
 (8, 'USC00519397', '1/10/10', 0.0, 73.0),
 (9, 'USC00519397', '1/11/10', 0.01, 64.0),
 (10, 'USC00519397', '1/12/10', 0.0, 61.0)]

In [13]:
# Test for the Stations table
engine.execute("SELECT * FROM Stations LIMIT 10").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]