In [12]:
import pandas as pd
import numpy as np

In [13]:
measurements_path = "Resources/hawaii_measurements.csv"
stations_path = "Resources/hawaii_stations.csv"

In [14]:
measurements = pd.read_csv(measurements_path)
measurements.head()

       station    date  prcp  tobs
0  USC00519397  1/1/10  0.08    65
1  USC00519397  1/2/10  0.00    63
2  USC00519397  1/3/10  0.00    74
3  USC00519397  1/4/10  0.00    76
4  USC00519397  1/6/10   NaN    73

In [15]:
stations = pd.read_csv(stations_path)
stations.to_csv('clean_stations.csv')

In [16]:
clean_measurements = measurements.dropna()
clean_measurements.to_csv('clean_measurements.csv')